<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WirePact Basic Auth Demo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-gray-800 border-gray-200 px-2 sm:px-4 py-2.5 text-white text-right">
      <span>Hello Fellow User</span>
    </nav>
    <main class="p-8">
      @RenderBody()
    </main>
  </body>
</html>
